*{
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

.container{
  text-align: center; 
  margin-top: 100px;
}

.calculator input{
  margin-top: 20px;
  width: 320px;
  height: 85px;
  background: black;
  outline: none;
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  font-size: 30px;
  text-align: right;
  padding: 8px;
}

.row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.row .digit,.operator,.funKey{
  outline: none;
  border: none;
  width: 80px;
  /* height: 80px; */
  background: white;
  font-size: 30px;
  padding: 25px 15px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  background-color: aliceblue;
  cursor: pointer;
}

.operator{
  border-right: 1px solid black;
  background-color: rgb(218, 152, 10);
}

.funKey {
  background-color: rgb(170, 170, 173);
}



